name: notes
description: A cross-platform notes application with rich text preservation, images, and hashtags.
version: 0.1.0+1
publish_to: none

environment:
  sdk: '>=3.5.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.6
  file_picker: ^8.1.2

dev_dependencies:
  flutter_lints: ^3.0.2

flutter:
  uses-material-design: true
